* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  max-width: 450px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
input {
  min-width: 250px;
  min-height: 50px;
  padding: 0 10px;
  border-radius: 8px;
  border: none;
  background-color: antiquewhite;
}
input[type="submit"] {
  background-color: rgb(6, 103, 6);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.failed {
  color: red;
}
.statusMsg {
  color: red;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 250px;
}
.success {
  color: green;
}
.statusMsg > h1 {
  font-size: 16px;
  font-weight: 900;
}
